body{
    background-color: black;
    color: #FFFFFF;
} 
.hr-1{
    
    border-top: 2px solid #F4D35E ;;
}
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 15px !important;
    letter-spacing: 4px;
    opacity:0.9;
}

.navbar li a{ 
    color: #FFFFFF !important;
}

#img-nav {
    height: 5vh;
}

.navbar-nav li a:hover {
    color: #F4D35E !important;
}


.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}


.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: black !important;
}
.dropdown-menu  {
    background-color: black !important;
}
.dropdown-menu li a {
    background-color: transparent !important;
    color: #FFFFFF !important;
}


.dropdown-menu li a:hover {
    color: #F4D35E !important;
}


     footer {
     background-color: black;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
      height: 100vh;
  }

  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
/*ESTILOS PUBLICACIÓN*/

  #update:placeholder{
  color: white;
}

#update {
  margin-top: 1em;
  background-color: white;
  opacity: 0.5;
  height: 5em;
  width: 100%;
  border-radius: .3em;
  overflow-y:scroll;
}
.textarea{
    color: white !important
}

.upload1 {
  text-align: right;
  margin-bottom: .5em;
}

.btn-up {
  background-color: #F4D35E;
  color: #000000;
  height: 2.5em;
  font-weight: 500;
  padding: .5em;
}

.btn-up:hover {
  text-decoration: none;
  color: white;
}

/*FOOTER*/
.icon-footer{
    margin:5%;
} 
.foot{
   background: linear-gradient(black,  #30343f);
}