body{
    background-color: black;
    color: #FFFFFF;
} 
.hr-1{
    
    border-top: 2px solid #F4D35E ;;
}
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 15px !important;
    letter-spacing: 4px;
    opacity:0.9;
}

.navbar li a{ 
    color: #FFFFFF !important;
}

#img-nav {
    height: 5vh;
}

.navbar-nav li a:hover {
    color: #F4D35E !important;
}


.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}


.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: black !important;
}
.dropdown-menu  {
    background-color: black !important;
}
.dropdown-menu li a {
    background-color: transparent !important;
    color: #FFFFFF !important;
}


.dropdown-menu li a:hover {
    color: #F4D35E !important;
}

#myCarousel{
    height: 95vh;
}
.carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
      height: 95vh;
  }

.cont-views{
    margin-top: 7vh;
}

  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
/*ESTILOS PUBLICACIÓN*/
.h-95{
    height: 95vh;
}
  #update:placeholder{
  color: white;
}

#update {
  margin-top: 1em;
  background-color: white;
  opacity: 0.5;
  height: 5em;
  width: 100%;
  border-radius: .3em;
  overflow-y:scroll;
}
.textarea{
    color: white !important
}

.upload1 {
  text-align: right;
  margin-bottom: .5em;
}

.btn-up {
  background-color: #F4D35E;
  color: #000000;
  height: 2.5em;
  font-weight: 500;
  padding: .5em;
  display: inline-block;
  border: none;
}

.btn-up:hover {
  text-decoration: none;
  color: white;
}
.btn-up-disabled{
    background-color:   #30343f;
    border: none;
    color: white;
}
/*EVENTOS*/
#place{
    color:#F4D35E;

}
.img-event{
    width:  100px;
    height: 100px;
}
/*FOOTER*/
.icon-footer{
    margin:5%;
} 
.foot{
   background: linear-gradient(black,  #30343f);
   margin-top: 15vh;
}

/*Súmate*/
.registro-b{
    height: 50vh;
    background-image: url(https://media.giphy.com/media/3og0IUTy80RuWleuRi/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.registro-f{

}
.registro-text{
    color: white;
}
.thumbnail{
background-color: transparent;
border: none;
}
.p-b{
    padding-top: 25vh; 
}
/*MODAL*/
.modal-body,.modal-header, .modal-footer{
    background-color: black;
    color: #F4D35E;
}

.inner-addon{
    position: relative;
}
.right-addon .glyphicon{
    right: 0px;
}
.right-addon input{
    padding-right: 30px;
}

/*NOSOTROS*/
.seccion{
    height: 80vh;
}